#grid-container {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

#grid-box {
    height: 30px;
    width: 30px;
    margin: 0;
}

.grid-box-hover {
    transform: scale(1.1);
    background-color: #ffc600;
}